### SERVER ###

server.port=
spring.mvc.hiddenmethod.filter.enabled=true

### SECURITY ###

security.jwt.secret=
security.jwt.lifetime=60000

### POSTGRESQL ###

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

### CASANDRA ###

spring.data.cassandra.keyspace.name=user
spring.data.cassandra.contact-points=
spring.data.cassandra.port=
spring.data.cassandra.scheme-action=CONTACT_IF_NOT_EXIST
spring.data.cassandra.local-datacenter=datacenter1
spring.data.cassandra.read-timeout-millis=12000

### REDIS ###

spring.redis.host=
spring.redis.port=

### LOMBOK ###

config.stopBubbling = true
lombok.anyConstructor.addConstructorProperties = true
lombok.addLombokGeneratedAnnotation = true